<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleHost.css">
    <title>SERVER</title>
</head>
<body>
    <h3>Server</h3>
    <p id="connection_state" class="state_disconnected">Disconnected</p>
    <video id="localVideo" src="" autoplay controls></video>
    <button id="btnInicio">Empezar transmición</button>
    <button id="btnCaptura">Empezar captura</button>
</body>
<script src="indexServer.js" type="module"></script>
</html>